body{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
    font-family: 'urbanist' sans-serif;
    width: 300px;
    height: max-content;
    padding: 30px;
    text-align: center;
    background-color: aqua;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_box{
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    text-align: start;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    padding: 8px;
    border: 2px solid gray;
    border-radius: 3px;

}

button{
    padding:15px 15px;
    width: max-content;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin: 15px auto;
    background-color: rgb(1, 76, 123);
    color:white
}
button:hover{
    background-color: rgb(2, 38, 81);
}

h2{
    font-style: oblique;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0,0.05);
    background-color: rgb(30, 29, 29);
    color: white;
}
li a{
    color: rgb(0, 145, 255);
    text-decoration: none;
    font-weight: 500;
}
li a:hover{
    text-decoration: underline;
}
.error_li{
    color: red;
}

#copy-btn{
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#copy-btn:hover {
  background-color: #45a049;
}